<div>
    <!-- year field -->
    <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select [(value)]="curryear" (selectionChange)="yearChanged($event)">
            <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <!-- month field -->
    <mat-form-field>
        <mat-label>Month</mat-label>
        <mat-select [(value)]="currmonth" (selectionChange)="monthChanged($event)">
            <mat-option *ngFor="let month of months" [value]="month.serial">
                {{month.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <button style="float: right;" mat-raised-button color="warn" (click)="openAppointmentDialog()">Create Appointment</button>
</div>

<!-- date container -->

<div>
    <!-- <mat-grid-list cols="7" rowHeight="4:1">
        <mat-grid-tile *ngFor="let dayname of dayn">
            {{dayname}}
        </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider> -->
    <mat-grid-list cols="7" rowHeight="2:1">
        <mat-grid-tile *ngFor="let day of days">
            <div class="dayno">{{day.daynumber}}</div>
            <div class="appointmentblog">
                <button class="appointmentbtn" (click)="gotoDetail(apmnt)" *ngFor="let apmnt of day.appointments">Appointment: {{apmnt.name.toString() | slice:0:5}}..</button>
            </div>
        </mat-grid-tile>
    </mat-grid-list>



</div>